%h1 Editar Funcionário
= form_for(@post) do |f|
  = f.label :name
  %br/
  = f.text_field :name
  %br/
  = f.label :age
  %br/
  = f.text_area :age
  %br/
  = f.label :cep
  %br/
  = f.text_area :cep
  %br/
  = f.label :street
  %br/
  = f.text_area :street
  %br/
  = f.label :number
  %br/
  = f.text_area :number
  %br/
  = f.label :city
  %br/
  = f.text_area :city
  %br/
  = f.label :state
  %br/
  = f.text_area :state
  %br/
  = f.submit
  
= link_to "Voltar", root_path
