%h1 Lista de Funcionários
%table
  %thead
    %tr
      %th Id
      %th Funcionário
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.id
        %td= post.name
        %td= link_to "Visualizar", post_path(post)
        %td= link_to "Editar", edit_post_path(post)
        %td=link_to "Excluir", post_path(post), method: :delete

= link_to "Novo Funcionário", new_post_path
