%h1 Cadastro de Funcionário
= form_for(@post) do |f|
  = f.label :funcionário
  %br/
  = f.text_field :name
  %br/
  = f.label :idade
  %br/
  = f.text_area :age
  %br/
  = f.label :cep
  %br/
  = f.text_area :cep
  %br/
  = f.label :rua
  %br/
  = f.text_area :street
  %br/
  = f.label :número
  %br/
  = f.text_area :number
  %br/
  = f.label :cidade
  %br/
  = f.text_area :city
  %br/
  = f.label :estado
  %br/
  = f.text_area :state
  %br/
  -# = f.collection_select(:companies, Company.all, :id, :name)
  = f.fields_for :companies do |builder|
    = render 'company_fields', f: builder
  = link_to_add_fields "Add Empresa", f, :companies
  %br/
  = f.submit
  
= link_to "Voltar", posts_path
